.container2 {
    position: center;
    width: 350px;
    height: 510px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ffffffea;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    font-weight:bold;
     margin: 0 auto;
}
