body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url("https://img.freepik.com/vector-gratis/patron-costuras-hornear_1284-6194.jpg?w=740&t=st=1669404444~exp=1669405044~hmac=e78cdd92a5cf8196831518298600a6302a6c78c1b99f0d86ed9ea9a03ecdd32d");
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
